@use '../../styles/variables' as *;

.footer {
    border-top: 2px solid  $primary-dark;
    color: $light-text;
    background-color: #fcfcfc;
    padding: 4rem 0 2rem;
    margin-top: 4rem;

    h5 {
        font-weight: 600;
        margin-bottom: 1.5rem;
        color: var(--primary-dark);
        font-size: 1.2rem;
    }

    p {
        color: var(--primary-dark);
        line-height: 1.8;
        margin-bottom: 1rem;
    }

    .list-unstyled {
        li {
            margin-bottom: 1rem;
        }

        a {
            color: var(--primary-dark);
            text-decoration: none;
            transition: $transition;
            display: inline-block;
            padding: 0.25rem 0;

            &:hover {
                transform: translateX(5px);
            }
        }
    }

    .col-lg-4 p {
        margin-bottom: 1rem;
        padding-left: 0.25rem;
        padding-right: 3rem;
    }

    .social-icons {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        background: var(--primary-dark);
        border-radius: 50%;
        margin-right: 10px;
        font-size: 1.2rem;
        color: white;
        transition: $transition;
        text-decoration: none;

        &:hover {
            transform: translateY(-3px);
        }
    }

    hr {
        opacity: 0.2;
        margin: 2.5rem 0;
    }

    .row:last-child {
        p {
            padding: 1rem;
            border-top: 1px solid var(--primary-dark);
            margin-bottom: 0.5rem;
            color: var(--primary-dark);
        }

        a {
            color: $accent-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
